.headerAntd {
    background-color:  #fff;
    color: #f1f1f1;
    position: sticky;
    z-index: 999;
    border-bottom: 1px solid whitesmoke;
    top:0;
    &__content{
        min-height: 100vh;
        overflow: scroll;
    }
}
